[Unit]
Description=AutoPoster Worker
After=network.target

[Service]
Type=simple
User=autoposter
Group=autoposter
WorkingDirectory={{APP_DIR}}
ExecStart=/usr/bin/php {{APP_DIR}}/bin/worker.php
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
